## Deliverable 2. Create a Customer Travel Destinations Map.

In [19]:
#! jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [42]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df

,Unnamed: 0,City,Lat,Lon,Max_temp,Humidity,Clouds,Wind Speed,Country,Current Description
0,0,Coahuayana Viejo,18.7333,-103.6833,89.35,54,79,6.73,MX,broken clouds
1,1,Bluff,-46.6000,168.3333,49.80,80,61,8.32,NZ,broken clouds
2,2,Tual,-5.6667,132.7500,81.27,78,100,14.43,ID,overcast clouds
3,3,Pangai,-19.8000,-174.3500,80.71,65,20,6.91,TO,few clouds
4,4,Dabat,12.9842,37.7650,62.71,33,96,5.26,ET,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
698,698,Ca Mau,9.1769,105.1500,79.70,84,99,6.13,VN,overcast clouds
699,699,Chingirlau,51.0950,54.0814,63.21,45,65,6.78,KZ,broken clouds
700,700,Nampula,-15.1165,39.2666,64.35,94,75,10.36,MZ,broken clouds
701,701,Gambo,4.6482,22.2633,69.03,97,56,0.87,CF,broken clouds
702,702,Taunggyi,20.7833,97.0333,63.46,97,100,3.06,MM,overcast clouds

In [43]:
#del city_data_df ["Unnamed: 0"]
city_data_df

,City,Lat,Lon,Max_temp,Humidity,Clouds,Wind Speed,Country,Current Description
0,Coahuayana Viejo,18.7333,-103.6833,89.35,54,79,6.73,MX,broken clouds
1,Bluff,-46.6000,168.3333,49.80,80,61,8.32,NZ,broken clouds
2,Tual,-5.6667,132.7500,81.27,78,100,14.43,ID,overcast clouds
3,Pangai,-19.8000,-174.3500,80.71,65,20,6.91,TO,few clouds
4,Dabat,12.9842,37.7650,62.71,33,96,5.26,ET,overcast clouds
...,...,...,...,...,...,...,...,...,...
698,Ca Mau,9.1769,105.1500,79.70,84,99,6.13,VN,overcast clouds
699,Chingirlau,51.0950,54.0814,63.21,45,65,6.78,KZ,broken clouds
700,Nampula,-15.1165,39.2666,64.35,94,75,10.36,MZ,broken clouds
701,Gambo,4.6482,22.2633,69.03,97,56,0.87,CF,broken clouds
702,Taunggyi,20.7833,97.0333,63.46,97,100,3.06,MM,overcast clouds

In [55]:
# Store latitude and longitude in locations, and humidity as humidity
locations = city_data_df[["Lat", "Lon"]]
humidity = city_data_df["Humidity"]



# Heatmap of humidity
fig = gmaps.figure(center=(46.0, -5), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=350, point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [45]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max_temp"] <= max_temp) & (city_data_df["Max_temp"] >= min_temp)]

In [46]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City                   73
Lat                    73
Lon                    73
Max_temp               73
Humidity               73
Clouds                 73
Wind Speed             73
Country                73
Current Description    73
dtype: int64

In [47]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City,Lat,Lon,Max_temp,Humidity,Clouds,Wind Speed,Country,Current Description
18,Hasaki,35.7333,140.8333,72.28,83,100,1.12,JP,overcast clouds
25,Wasilla,61.5814,-149.4394,73.65,48,1,6.91,US,light rain
46,Cape Town,-33.9258,18.4232,72.01,27,0,13.22,ZA,clear sky
57,Mabaruma,8.2000,-59.7833,74.70,95,72,5.14,GY,broken clouds
60,Fukuechō,32.6881,128.8419,70.12,77,100,6.31,JP,overcast clouds
...,...,...,...,...,...,...,...,...,...
669,Moncton,46.1159,-64.8019,72.09,53,75,9.22,CA,broken clouds
685,Moose Factory,51.2585,-80.6094,73.40,68,75,11.50,CA,broken clouds
687,Praia,14.9215,-23.5087,73.94,73,75,18.41,CV,broken clouds
689,Gōtsuchō,35.0000,132.2167,71.71,68,77,3.47,JP,broken clouds
692,Central Point,42.3760,-122.9164,74.17,35,61,8.99,US,broken clouds

In [48]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max_temp","Current Description", "Lat", "Lon"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max_temp,Current Description,Lat,Lon,Hotel Name
18,Hasaki,JP,72.28,overcast clouds,35.7333,140.8333,
25,Wasilla,US,73.65,light rain,61.5814,-149.4394,
46,Cape Town,ZA,72.01,clear sky,-33.9258,18.4232,
57,Mabaruma,GY,74.70,broken clouds,8.2000,-59.7833,
60,Fukuechō,JP,70.12,overcast clouds,32.6881,128.8419,
67,Arraial do Cabo,BR,73.36,broken clouds,-22.9661,-42.0278,
74,Aksu,CN,72.86,scattered clouds,41.1231,80.2644,
94,Karratha,AU,74.23,broken clouds,-20.7377,116.8463,
136,Caravelas,BR,72.61,clear sky,-17.7125,-39.2481,
153,São Filipe,CV,74.62,scattered clouds,14.8961,-24.4956,

In [57]:
# 6a. Set parameters to search for hotels with 5000 meters.
#url="http://api.openweathermap.org/data/2.5/weather?units=Imperial&appid=" + weather_api_key
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame

for index, row in hotel_df.iterrows():
    
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lon"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
   
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
      
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df["City"]

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

18            Hasaki
25           Wasilla
46         Cape Town
57          Mabaruma
60          Fukuechō
           ...
669          Moncton
685    Moose Factory
687            Praia
689         Gōtsuchō
692    Central Point
Name: City, Length: 73, dtype: object

In [50]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [51]:
clean_hotel_df

,City,Country,Max_temp,Current Description,Lat,Lon,Hotel Name
18,Hasaki,JP,72.28,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
25,Wasilla,US,73.65,light rain,61.5814,-149.4394,Alaska's Select Inn Wasilla
46,Cape Town,ZA,72.01,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
57,Mabaruma,GY,74.70,broken clouds,8.2000,-59.7833,Monty Brooms Guest House
60,Fukuechō,JP,70.12,overcast clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
...,...,...,...,...,...,...,...
669,Moncton,CA,72.09,broken clouds,46.1159,-64.8019,"Crowne Plaza Moncton Downtown, an IHG Hotel"
685,Moose Factory,CA,73.40,broken clouds,51.2585,-80.6094,Moosonee Lilypad
687,Praia,CV,73.94,broken clouds,14.9215,-23.5087,LT Aparthotel
689,Gōtsuchō,JP,71.71,broken clouds,35.0000,132.2167,Yurusato
692,Central Point,US,74.17,broken clouds,42.3760,-122.9164,Courtyard by Marriott Medford Airport

In [52]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file)

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Description</dt><dd>{Current Description} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lon"]]

In [16]:
#hotel_info
#locations

In [18]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and marker for each city.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig 
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))